@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .material-symbols-outlined.filled {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #101622;
  }
  ::-webkit-scrollbar-thumb {
    background: #2a3649;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #324467;
  }
  body {
    background-color: #101622;
    color: white;
  }
}
